# Jupyter Notebook
.ipynb_checkpoints
__pycache__

# IPython
profile_default/
ipython_config.py

# 
*.DS_Store
.Rproj.user
*.key

# Data
data/data_raw
data/text_embeddings
data/final_experiment
data/data_processing

# Old notebooks before cleaning up
old/

# R package management
renv/